.statusText {
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 20px;
    width: 1024px;
    border: none;
    outline: none !important;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #515151;
}

.statusForm {
    margin-top: 140px;
    margin-left: 103px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.articleButton {
    width: 331px;
    height: 67px;
    margin-top: 100px;
    background: #FFB11B;
    border-radius: 15px;
    border: none;
}